<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AlienFX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="AlienFX.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"
         sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <userSettings>
    <AlienFX.Properties.Settings>
      <setting name="CustomResolution" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TopLeftX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TopLeftY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BottomRightX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BottomRightY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Quality" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Fullscreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RefreshRate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="StartAutomatically" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cinemaRatio" serializeAs="String">
        <value>False</value>
      </setting>
    </AlienFX.Properties.Settings>
    <AlienFX.Settings>
      <setting name="CustomResolution" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TopLeftX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TopLeftY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BottomRightX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BottomRightY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Quality" serializeAs="String">
        <value>1</value>
      </setting>
    </AlienFX.Settings>
  </userSettings>
</configuration>